:--headings {
  color: var(--text-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
  line-height: 1.5;
}
:--details {
  color: var(--text-secondary);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-base);
  line-height: 1.5;
}
