.product-thumbnail {
  height: 350px;
  width: 400px;

  & img {
    border-radius: 10px;
  }

  @media (--br-max-md) {
    display: none;
  }
}

.product-images-list {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-image {
  height: 80px;
  width: 80px;

  & img {
    border-radius: 10px;
  }
  &:hover {
    border-radius: 13px;
    opacity: 0.5;
    /* border: 2px solid var(--bg-primary); */
  }

  @media (--br-max-md) {
    border-radius: 0px;
  }
}
