/* variables */
:root {
  --clr-primary-400: hsl(26, 100%, 55%);
  --clr-primary-200: hsl(25, 100%, 94%);
  --clr-neutral-900: hsl(0, 0%, 0%);
  --clr-neutral-700: hsl(220, 13%, 13%);
  --clr-neutral-400: hsl(219, 9%, 45%);
  --clr-neutral-300: hsl(220, 14%, 75%);
  --clr-neutral-200: hsl(223, 64%, 98%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  /* border */
  --border-color: var(--clr-neutral-200);
  /* background */
  --bg-primary: var(--clr-primary-400);
  --bg-primary-hover: var(--clr-primary-200);
  --bg-backdrop: var(--clr-neutral-900);
  /* text */
  --text-primary: var(--clr-neutral-700);
  --text-secondary: var(--clr-neutral-400);
  --text-base: var(--clr-neutral-300);
  --ff-main: "Kumbh Sans", sans-serif;
  --fw-base: 400;
  --fw-bold: 700;
  --fs-base: 1rem;
  --fs-md: 2rem;
  --fs-lg: 3rem;
  /* spacing */
  --flex-gap-default: 1em;
  --flex-gap-sm: 1em;
  --flex-gap-md: 2em;
  --flex-gap-lg: 2.5em;
  --flex-gap-xl: 4em;
  --flex-gap-xxl: 5em;
  --page-padding-y-default: 0px;
  --page-padding-y-sm: 0px;
  --page-padding-y-md: 2.5em;
  --page-padding-y-lg: 5em;
  --page-padding-y-xl: 7.5em;
  --page-padding-y-xxl: 10em;
}
/* default max 375px */
/* 375px to 576px */
/* 576px to 768px */
/* 768px to 992px */
/* 992px to 1200px */
/* 0 to 768px */
/* 576px plus */
/* 768px plus */
/* 1200px plus */
/* base */
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  position: relative;
  height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--ff-main);
  background-color: var(--clr-neutral-100);
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  padding-inline: var(--page-padding-y-default);
}
@media (min-width: 23.4375em) and (max-width: 34.125em) {
body {
    padding-inline: var(--page-padding-y-sm);
}
  }
@media (min-width: 34.125em) and (max-width: 48em) {
body {
    padding-inline: var(--page-padding-y-md);
}
  }
@media (min-width: 48em) and (max-width: 62em) {
body {
    padding-inline: var(--page-padding-y-lg);
}
  }
@media (min-width: 62em) and (max-width: 87.5em) {
body {
    padding-inline: var(--page-padding-y-xl);
}
  }
@media (min-width: 87.5em) {
body {
    padding-inline: var(--page-padding-y-xxl);
}
  }
h1,h2,h3,h4 {
  color: var(--text-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
  line-height: 1.5;
}
p {
  color: var(--text-secondary);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-base);
  line-height: 1.5;
}
/* components */
.product-thumbnail {
  height: 350px;
  width: 400px;
}
.product-thumbnail img {
    border-radius: 10px;
  }
@media (max-width: 48em) {
.product-thumbnail {
    display: none;
}
  }
.product-images-list {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-image {
  height: 80px;
  width: 80px;
}
.product-image img {
    border-radius: 10px;
  }
.product-image:hover {
    border-radius: 13px;
    opacity: 0.5;
    /* border: 2px solid var(--bg-primary); */
  }
@media (max-width: 48em) {
.product-image {
    border-radius: 0px;
}
  }
.product-details {
  position: relative;
}
.product-details h1 {
    line-height: 1.1;
  }
.product-details::before {
    position: absolute;
    color: var(--bg-primary);
    content: "sneaker company";
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    margin-top: 45px;
    font-weight: var(--fw-bold);
    font-size: 14px;
  }
/* layout */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--border-color);

  /* Menu Icon */
}
.header .header__menu {
    display: block; /* displays on below 768px device width */
  }
@media (min-width: 48em) {
.header .header__menu {
      display: none; /* hides on 768px plus device width */
  }
    }
/* Navigation */
.header .header__navigation {
    display: flex;
    height: 100%;
  }
@media (max-width: 48em) {
.header .header__navigation .header__nav {
        display: none; /* hides on 576px plus device width */
    }
      }
.header .header__navigation .header__nav .header__nav__close {
        display: none;
      }
.header .header__navigation .header__nav .header__nav__items {
        display: flex;
        flex-direction: row;
        gap: var(--flex-gap-sm);
        height: 100%;
      }
.header .header__navigation .header__nav .header__nav__items .header__nav__item {
          display: flex;
          align-items: center;
          height: 98%;
          margin-block: auto;
          color: var(--text-secondary);
        }
.header .header__navigation .header__nav .header__nav__items .header__nav__item:hover {
            color: var(--text-primary);
            border-bottom: 3px solid var(--bg-primary);
          }
.header .header__navigation .header__nav .header__nav__items .header__nav__item:focus {
            color: var(--text-primary);
            border-bottom: 3px solid var(--bg-primary);
          }
.header .header__navigation .header__nav__backdrop {
      display: none;
    }
/* Mobile Navigation */
.header .header__navigation__mobile {
    position: absolute;
    inset: 0;
    z-index: 100;
    display: flex;
  }
.header .header__navigation__mobile .header__nav {
      flex: 1 1;
      background-color: var(--clr-neutral-100);
    }
@media (min-width: 34.125em) {
.header .header__navigation__mobile .header__nav {
        display: block; /* hides on 576px plus device width */
    }
      }
.header .header__navigation__mobile .header__nav .header__nav__close {
        display: block;
      }
.header .header__navigation__mobile .header__nav .header__nav__items {
        display: flex;
        flex-direction: column;
        gap: var(--flex-gap-sm);
      }
.header .header__navigation__mobile .header__nav .header__nav__items .header__nav__item {
          color: var(--text-secondary);
        }
.header .header__navigation__mobile .header__nav .header__nav__items .header__nav__item:hover {
            color: var(--text-primary);
          }
.header .header__navigation__mobile .header__nav__backdrop {
      display: block;
      width: 30%;
    }
/* header right */
.header .header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.header .header__right .header__right__icon-cart path {
      fill: var(--text-secondary);
    }
.header .header__right .header__right__icon-cart path:hover {
        fill: var(--text-primary);
      }
.header .header__right .avatar-image {
      width: 2.5rem;
      height: 2.5rem;
      box-sizing: border-box;
    }
.header .header__right .avatar-image:hover {
        outline: 2.5px solid var(--clr-primary-400);
      }
.container {
  max-width: 100%;
  height: 100%;
}
.container {
  padding: 60px;
}
@media (max-width: 48em) {
.container {
    padding: 0px;
}
  }
.product-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.product-page .product-images {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
.product-page .product-details {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding-block: 50px;
  }
@media (max-width: 48em) {
.product-page {
    display: flex;
    flex-direction: column;
}
  }
@media (min-width: 34.125em) and (max-width: 48em) {
.product-page {
    flex-direction: column;
}
  }
/* compositions */
.flex-flow-row-gap-1 {
  display: flex;
  flex-direction: row;
  gap: var(--gap-1);
}
.flex-flow-column-gap-1 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}
.flex-flow-row-gap-2 {
  display: flex;
  flex-direction: row;
  gap: var(--gap-1);
}
.flex-flow-column-gap-2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}
.flex-flow-row-gap-4 {
  display: flex;
  flex-direction: row;
  gap: var(--gap-4);
}
.flex-flow-column-gap-4 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
/* utilities */
/* text color */
.text-primary {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-base {
  color: var(--text-base);
}
/* font sizes */
.fs-base {
  font-size: clamp(var(--fs-base), 1.25vw, 1.25rem);
}
.fs-md {
  font-size: clamp(var(--fs-md), 2.25vw, 2.25rem);
}
.fs-lg {
  font-size: clamp(var(--fs-lg), 3.25vw, 3.25rem);
}
/* font weight */
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-base {
  font-weight: var(--fw-base);
}
/* text alignment */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
/* text decoration */
.decoration-none {
  text-decoration: none;
}
.text-underline {
  text-decoration: underline;
}
.text-line-through {
  text-decoration: line-through;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.display-none {
  display: none;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.bg-white {
  background-color: var(--clr-neutral-100);
}
.bg-primary {
  background-color: var(--bg-primary);
}
.bg-primary:hover {
  background-color: var(--bg-primary-hover);
}
.bg-backdrop {
  background-color: var(--bg-backdrop);
  opacity: 0.75;
}
.bg-none {
  background-color: transparent;
}
.list-disc {
  list-style-type: disc;
}
.list-number {
  list-style-type: decimal;
}
.rounded-full {
  border-radius: 100%;
}
.border-none {
  border: none;
}
.cursor-pointer {
  cursor: pointer;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.my-auto {
  margin-block: auto;
}
.p-y-header {
  padding-inline: 1.5em;
}
@media (min-width: 34.125em) {
.p-y-header {
    padding-inline: 0px;
}
  }
.gap-header {
  gap: var(--flex-gap-default);
}
@media (min-width: 23.4375em) and (max-width: 34.125em) {
.gap-header {
    gap: var(--flex-gap-sm);
}
  }
@media (min-width: 34.125em) and (max-width: 48em) {
.gap-header {
    gap: var(--flex-gap-md);
}
  }
@media (min-width: 48em) and (max-width: 62em) {
.gap-header {
    gap: var(--flex-gap-lg);
}
  }
@media (min-width: 62em) and (max-width: 87.5em) {
.gap-header {
    gap: var(--flex-gap-xl);
}
  }
@media (min-width: 87.5em) {
.gap-header {
    gap: var(--flex-gap-xxl);
}
  }
.gap-header__right {
  gap: var(--flex-gap-sm);
}
@media (min-width: 34.125em) and (max-width: 48em) {
.gap-header__right {
    gap: var(--flex-gap-md);
}
  }
@media (min-width: 48em) {
.gap-header__right {
    gap: var(--flex-gap-sm);
}
  }
.h-header {
  height: 5rem;
}
@media (min-width: 48em) {
.h-header {
    height: 6rem;
}
  }
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.inset-0 {
  inset: 0;
}
